$color-text: #000000;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$color-bg: #f0f3f7; // 234, 236, 238 
$color-white: #FFFFFF;

$opacity-setting: 0.5;

$size-text: 1rem;
$size-h1: $size-text*1.5;
$size-h3: $size-text*1.1;


$color-like-full: linear-gradient($color-secondary, $color-primary);


$breakpoints: (
    desktop: 1024px,
    middle-device: 480px,
)