$color-text: #000000;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$color-bg: #f0e8e8 ;
$color-white: #FFFFFF;

$size-text: 1rem;
$size-h2: $size-text*1.5;
$size-h3: $size-text*1.1;



$breakpoints: (
    desktop: 1700px,
    middle-device: 1024px,
)