
.menu{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: $color-bg;
    padding: 0.5rem;
    width: 100%;
    position: relative;
    margin-top: 240px;
    @include desktop-only {
        width: 70%;
        margin-top: 440px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @include tablet-only {
        width: 70%;
        margin-top: 320px;
        margin-right: auto;
        margin-left: auto;
    }
    &__restaurant {
        margin-top: 2rem;
        @include desktop-only {
            margin-bottom: 2rem;
            width: 100%;
            text-align: center;
        }
        @include tablet-only {
            width: 100%;
            text-align: center;
        }
    }
    &__dishes {
        margin: 0.5rem;
        animation: delay-appearance 1000ms;
        @include desktop-only {
            width: 31%;
        }
    }
    &__title {
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 1.2rem;
    }
    &__line {
        width: 100px;
        height: 5px;
        background-color: $color-third;
        margin-bottom: 1rem;
    }
    &__container {
        border-radius: 15px;
        box-shadow: 1.5px 2px 10px 0.1px rgba(0, 0, 0, 0.1);
        background-color: $color-white;
        margin-bottom: 1rem;
        display: inline-flex;
        justify-content: space-between;
        position: relative;
        animation: dishes 2000ms 400ms both;
        opacity: 0;
        width: 100%;
        overflow: hidden;
        @for $i from 1 through 10 {
           &--#{$i} {
                animation-delay: 400ms*$i;
            }
        }
    }
    &__description {
        padding: 0.5rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__name {
        font-weight: 700;
        margin-bottom: 0.5rem;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    &__legend {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    &__ingredients {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 25px;        
    }
    &__price {
        font-weight: 700;
        margin-left: 10px;
    }
    &__checked {
        visibility: collapse;
        background-color: $color-third;
        width: 20%;
        position: relative;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 15%;
        @include tablet-only {
            width: 15%;
        }
    }
    &__icon {
        color: $color-white;
        margin-left: 20px;
        margin-top: 25px;
        @include tablet-only {
            margin-left: 25px;
           
        }
    }
}

.containerbtn{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.menu__container:hover > .menu__checked,  .menu__container:active > .menu__checked{
    
    animation: check 2000ms 0s both cubic-bezier(0,.8,.19,.94);
    
}

.menu__container:hover > .menu__checked > .menu__icon {
    animation: rotate 3000ms 0s both;
} 