
.menu{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: $color-bg;
    padding: 0.5rem;
    width: 100%;
    position: relative;
    margin-top: 240px;
    &__restaurant {
        margin-top: 2rem;
    }
    &__dishes {
        margin: 0.5rem;
        animation: delay-appearance 1000ms;
    }
    &__title {
        margin-bottom: 0.5rem;
    }
    &__line {
        width: 100px;
        height: 5px;
        background-color: $color-third;
        margin-bottom: 1rem;
    }
    &__container {
        border-radius: 15px;
        box-shadow: 1.5px 2px 10px 0.1px rgba(0, 0, 0, 0.1);
        background-color: $color-white;
        margin-bottom: 1rem;
        display: inline-flex;
        justify-content: space-between;
        position: relative;
        animation: dishes 2000ms 400ms both;
        opacity: 0;
        width: 100%;
        overflow: hidden;
        @for $i from 1 through 9 {
           &--#{$i} {
                animation-delay: 400ms * $i;
            }
        }
    }
    &__description {
        padding: 0.5rem;
        width: 100%;
        
    }
    &__name {
        font-weight: 700;
        margin-bottom: 0.5rem;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__legend {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
    }
    &__ingredients {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 20px;
        
    }
    &__price {
        font-weight: 700;
        margin-right: 5px;
    }
    &__checked {
        //visibility: collapse;
        color: $color-third;
        background-color: $color-third;
        width: 20%;
        position: relative;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 15%;
    }
    &__icon {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        color: $color-white
    }
}

.containerbtn{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

// .menu__container:hover > .menu__checked {
    
//     animation: check 2000ms 0s both cubic-bezier(0,.8,.19,.94);
    
// }

.menu__container:hover > .menu__icon {
    animation: rotate 3000ms 3000ms both;
}