.header {
    width: 100%;
    text-align: center;
    position: relative;
    &__title{
        display: none;
    }
    &__logo {
        width: 55%;
        margin-top: 0.5rem;
        @include desktop-only{
            width: 30%;
        }
    }
    &__icon {
        position: absolute;
        left: 20px;
        top: 20px;
    }
    &__img{
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 50px;
        left: 0;
        @include desktop-only {
            width: 50%;
            top: 100px;
            transform: translateX(50%);
        }
        @include tablet-only {
            top: 90px;
            width: 70%;
            transform: translateX(21.5%);
        }
    }
}